body {
  background-color: rgb(255, 255, 255);
}

/*DISEÑO DEL ENCABEZADO*/

body {
  margin: 0;
}
.header {
  background-color: rgb(245, 245, 245);
  padding: 6px;
  text-align: center;
}

/*LES DA COLOR A LOS CUADRADOS DE LA BARRA DE NAVEGACION*/
a:link,
a:visited {
  background-color: rgb(245, 245, 245);
  color: black;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/*MENU*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: rgb(160, 160, 160);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #8f8f8f;
}

.active {
  background-color: #ff1100;
}

/*pie de pagina*/
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/*hace que si el usuario baja para seguir navegando por la pagina el menu lo siga para que no tenga que subir*/
ul.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color:  rgb(245, 245, 245);
  border: 2px solid  rgb(245, 245, 245);
}



.p1 {
  font-family: "Verdana", Helvetica, sans-serif;
}



.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  max-width: 100%;
  max-height: 100%;
}


#MOC.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#MOC.image-container img {
  max-width: 32%;
  max-height: 100%;
}


#GUCCI.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#GUCCI.image-container img {
  max-width: 32%;
  max-height: 100%;
}


#argentina {
  grid: right;
}



#logooo{ grid: center; 
}

h1, h2, h3, h4, h5, h6 {
  font-size: 24px; /* tamaño de fuente base */
}
