body {
  background-color: rgb(255, 255, 255);
}


/*DISEÑO DEL ENCABEZADO*/


body {
  margin: 0px;
}


.header {
  background-color: rgb(245, 245, 245);
  padding: 6px;
  text-align: center;
}


#distancia{
  margin-top: 50px;
  padding-right: 32px; 
}



/*MENU*/


/*CUERPO DE LA PAGINA*/
#menu{
  justify-items: center;
  justify-content: center;
}



/*pie de pagina*/
.footer {
  background-color: #111111;
  padding: 25px ;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.footer-row{
  display: flex;
  flex-wrap: wrap;
}

.footer-links{
  width: 25%;
  padding: 0 15px;
}

.footer-links h7{
  font-size:20px;
  color: #ffffff;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #00c3ff;
  padding-bottom: 10px;
  display: inline-block;
}

.footer-links ul li a {
  font: size 18px;
  text-decoration: none;
  color: #bbbbbb;
  display:block ;
  margin-bottom:15px ;
}

.footer-links ul li a :hover{
  color: #ffffff;
  padding-left: 6px;
}

.social-link a{
  display: inline-block;
  min-height: 40px;
  background-color: rgba(255, 255, bl255ue, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
}


/*responsive el footer*/
@media(max-width:991px){
  .footer-row{
    text-align: center;
  }

  .footer-links{
    width: 100%;
    margin-bottom: 30px;
  }
}



.p {
  font-family: "Verdana", Helvetica, sans-serif;
  margin-right: 0px;
}



#AF1.image-container{
  grid: center;
  justify-content: center;
  align-items: center;
}

#AF1.image-container img {
  max-width: 32%;
  max-height: 100%;
}


#MOC.image-container {
  grid: center;
  justify-content: center;
  align-items: center;
}

#MOC.image-container img {
  max-width: 32%;
  max-height: 100%;
}


#GUCCI.image-container {
  grid: center;
  justify-content: center;
  align-items: center;
}

#GUCCI.image-container img {
  max-width: 32%;
  max-height: 100%;
}


#titulo {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 24px; /* tamaño de fuente base */
  padding-left: 0px;
  padding-right: 16px;
}





/*ESTO SIRVE PARA QUE EN PANTALLAS CHIQUITAS NO SE VEA EL STICKY DE LA BARRA*/

@media screen and (max-width: 768px) {
  #menu {
    position: static;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}












