body {
  background-color: rgb(255, 255, 255);
}

/*DISEÑO DEL ENCABEZADO*/

body {
  margin: 0px;
}

.header {
  background-color: rgb(245, 245, 245);
  padding: 6px;
  text-align: center;
}

/*LES DA COLOR A LOS CUADRADOS DE LA BARRA DE NAVEGACION*/
#new:link,
#new:visited {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#new:hover,
#new:active {
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
}

/*MENU*/

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff0000;
}

li {
  float: left;
  border-right: 1px solid #0400ff;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: rgb(255, 0, 191);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #8f8f8f;
}

.active {
  background-color: #ff1100;
}


/*CUERPO DE LA PAGINA*/
#menu{
  justify-items: center;
  justify-content: center;
}



/*pie de pagina*/
.footer {
  background-color: #111111;
  padding: 25px ;
}

.footer-row{
  display: flex;
  flex-wrap: wrap;
}

.footer-links{
  width: 25%;
  padding: 0 15px;
}

.footer-links h7{
  font-size:20px;
  color: #ffffff;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #00c3ff;
  padding-bottom: 10px;
  display: inline-block;
}

.footer-links ul li a {
  font: size 18px;
  text-decoration: none;
  color: #bbbbbb;
  display:block ;
  margin-bottom:15px ;
}

.footer-links ul li a :hover{
  color: #ffffff;
  padding-left: 6px;
}

.social-link a{
  display: inline-block;
  min-height: 40px;
  background-color: rgba(255, 255, bl255ue, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
}



@media(max-width:991px){
  .footer-row{
    text-align: center;
  }

  .footer-links{
    width: 100%;
    margin-bottom: 30px;
  }
}




/*hace que si el usuario baja para seguir navegando por la pagina el menu lo siga para que no tenga que subir*/
#menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color:  rgb(245, 245, 245);
  border: 2px solid  rgb(245, 245, 245);
}



.p {
  font-family: "Verdana", Helvetica, sans-serif;
}



#AF1.image-container{
  grid: center;
  justify-content: center;
  align-items: center;
}

#AF1.image-container img {
  max-width: 32%;
  max-height: 100%;
}


#MOC.image-container {
  grid: center;
  justify-content: center;
  align-items: center;
}

#MOC.image-container img {
  max-width: 32%;
  max-height: 100%;
}


#GUCCI.image-container {
  grid: center;
  justify-content: center;
  align-items: center;
}

#GUCCI.image-container img {
  max-width: 32%;
  max-height: 100%;
}


#titulo {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 24px; /* tamaño de fuente base */
  margin: 16px;
}



/*ESTO SIRVE PARA QUE EN PANTALLAS CHIQUITAS NO SE VEA EL STICKY DE LA BARRA*/

@media screen and (max-width: 768px) {
  #menu {
    position: static;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}












